.drag-drop-area {
    position: absolute;
    width: 1300px;
    height: 700px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    user-select: none;
}

@media screen and (max-width: 667px) {
    #cali-app .cali-container .cali-container-panel.drag-drop-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        left: auto;
    }
}

.drag-drop-area .drop-target {
    position: absolute;
    width: 7vh;
    height: 7vh;
    min-width: 40px;
    min-height: 40px;
    border: 2px solid #fff;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, .6);
    text-align: center;
    box-sizing: border-box;
    transition: background-color .2s ease-in-out;
    user-select: none;
}

.drag-drop-area .drop-target:nth-of-type(1) {
    top: 32%;
    left: 26%;
}

.drag-drop-area .drop-target:nth-of-type(2) {
    top: 29%;
    left: 50%;
}

.drag-drop-area .drop-target:nth-of-type(3) {
    top: 28%;
    left: 66%;
}

.drag-drop-area .drop-target:nth-of-type(4) {
    top: 60%;
    left: 35%;
}

.drag-drop-area .drop-target:nth-of-type(5) {
    top: 50%;
    left: 50%;
}

.drag-drop-area .drop-target.drag-item-over {
    background-color: rgba(255, 255, 255, .8);
}

.drag-drop-area .drop-target .label {
    display: inline-block;
    position: absolute;
    width: auto;
    min-width: 80px;
    top: 100%;
    left: 50%;
    margin: auto;
    margin-top: 10px;
    white-space: nowrap;
    background-color: #fff;
    padding: 8px;
    border-radius: 6px;
    transform: translateX(-50%);
    font-size: 14px;
    font-family: "VolvoSansMedium";
    pointer-events: none;
    user-select: none;
}


@media screen and (max-width: 667px) {
    .drag-drop-area .drop-target {
        position: relative;
        width: calc(50% - 15px);
        margin: 0;
        margin-left: 10px;
        margin-bottom: 10px;
        border-radius: 0;
    }

    .drag-drop-area .drop-target:nth-of-type(-n+5) {
        top: auto;
        left: auto;
    }

    .drag-drop-area .drop-target .label {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: transparent;
        text-align: left;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: none;
        margin-top: 0;
        font-size: 12px;
        font-family: "VolvoSansRegular";
        box-sizing: border-box;
        z-index: 1;
    }
}

.drag-drop-area .drag-alternatives {
    display: table;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50px;
    margin: auto;
}

.drag-drop-area .drag-alternative,
.drag-drop-area .drag-ghost-item,
.drag-drop-area .drag-item-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: calc(7vh - 4px);
    height: calc(7vh - 4px);
    min-width: 36px;
    min-height: 36px;
    border-radius: 7vh;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    text-align: center;
    color: #333;
    font-size: 14px;
    font-family: "VolvoSansMedium";
    user-select: none;
}

.drag-drop-area .drag-item-placeholder {
    margin-bottom: 10px;
}

.drag-drop-area .drag-alternative,
.drag-drop-area .drag-ghost-item {
    cursor: pointer;
}

.drag-drop-area .drag-ghost-item {
    display: none;
    opacity: .6;
}

.drag-drop-area .drag-ghost-item.active {
    display: flex;
}

.drag-drop-area .drag-item-placeholder {
    border: 2px solid #fff;
    width: 7vh;
    height: 7vh;
    min-width: 40px;
    min-height: 40px;
    background-color: rgba(255, 255, 255, .2);
}

#cali-app .drag-drop-area button.continue-button[data-california-quiz-submit] {
    position: absolute;
    bottom: 0;
    right: 50px;
}

.interaction-disabler {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

@media screen and (max-width: 667px) {

    .drag-drop-area .drag-alternatives {
        width: calc(50% - 15px);
        right: 10px;
    }

    .drag-drop-area .drag-alternative,
    .drag-drop-area .drag-ghost-item,
    .drag-drop-area .drag-item-placeholder {
        justify-content: flex-end;
        border-radius: 0;
        width: 100%;
        padding-right: 10px;
        font-size: 12px;
        font-family: "VolvoSansRegular";
    }

    .drag-drop-area .drag-item-placeholder {
        padding: 0;
    }

    #cali-app .drag-drop-area button.continue-button[data-california-quiz-submit] {
        position: absolute;
        bottom: 0px;
        right: 10px;
    }

}
