.version.index {
    color: #0000FD;
    background-color: #2A46D4;
}

@font-face {
    font-family: '__Roboto_5';
    src: url('../fonts/roboto-regular.eot');
    src: local('☺'), url('../fonts/roboto-regular.woff') format('woff'), url('../fonts/roboto-regular.svg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: '__Roboto_5';
    src: url('../fonts/roboto-bold.eot');
    src: local('☺'), url('../fonts/roboto-bold.woff') format('woff'), url('../fonts/roboto-bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}

#page {
    background-color: transparent;
    opacity: 1;
    z-index: 1;
    margin-right: auto;
    filter: alpha(opacity=100);
    margin-left: auto;
    background-image: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    border-width: 0px;
    border-color: #000000;
}

#pu1157 {
    z-index: 124;
}

#u1157 {
    opacity: 0.5;
    border-radius: 3px;
    z-index: 124;
    margin-right: -10000px;
    filter: alpha(opacity=50);
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    border-width: 0px;
    background-color: #FFFFFF;
    border-color: transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#u868-4 {
    color: #000000;
    margin-right: -10000px;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    position: relative;
    line-height: 19px;
    z-index: 125;
    background-color: transparent;
    font-family: '__Roboto_5';
}

#u1162 {
    opacity: 0.5;
    border-radius: 3px;
    z-index: 111;
    margin-right: -10000px;
    filter: alpha(opacity=50);
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    border-width: 0px;
    background-color: #FFFFFF;
    border-color: transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#u877-4 {
    color: #000000;
    margin-right: -10000px;
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    position: relative;
    line-height: 14px;
    z-index: 112;
    background-color: transparent;
    font-family: '__Roboto_5';
}

#u1160 {
    opacity: 0.5;
    border-radius: 3px;
    z-index: 110;
    margin-right: -10000px;
    filter: alpha(opacity=50);
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    border-width: 0px;
    background-color: #FFFFFF;
    border-color: transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#u895-4 {
    color: #000000;
    margin-right: -10000px;
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    position: relative;
    line-height: 14px;
    z-index: 116;
    background-color: transparent;
    font-family: '__Roboto_5';
}

#u1159 {
    opacity: 0.5;
    border-radius: 3px;
    z-index: 94;
    margin-right: -10000px;
    filter: alpha(opacity=50);
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    border-width: 0px;
    background-color: #FFFFFF;
    border-color: transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#u911-4 {
    color: #000000;
    margin-right: -10000px;
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    position: relative;
    line-height: 14px;
    z-index: 120;
    background-color: transparent;
    font-family: '__Roboto_5';
}

#u1161 {
    opacity: 0.5;
    border-radius: 3px;
    z-index: 95;
    margin-right: -10000px;
    filter: alpha(opacity=50);
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    border-width: 0px;
    background-color: #FFFFFF;
    border-color: transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#u886-4 {
    color: #000000;
    margin-right: -10000px;
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    position: relative;
    line-height: 14px;
    z-index: 97;
    background-color: transparent;
    font-family: '__Roboto_5';
}

#u896-4 {
    color: #000000;
    margin-right: -10000px;
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    position: relative;
    line-height: 14px;
    z-index: 101;
    background-color: transparent;
    font-family: '__Roboto_5';
}

#u1158 {
    opacity: 0.5;
    border-radius: 3px;
    z-index: 109;
    margin-right: -10000px;
    filter: alpha(opacity=50);
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    border-width: 0px;
    background-color: #FFFFFF;
    border-color: transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#u1163 {
    opacity: 0.5;
    border-radius: 3px;
    z-index: 96;
    margin-right: -10000px;
    filter: alpha(opacity=50);
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    border-width: 0px;
    background-color: #FFFFFF;
    border-color: transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#u912-4 {
    color: #000000;
    margin-right: -10000px;
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    position: relative;
    line-height: 14px;
    z-index: 105;
    background-color: transparent;
    font-family: '__Roboto_5';
}

#u354 {
    background-color: #FFFFFF;
    margin-right: -10000px;
    z-index: 2;
    position: relative;
}

#u711 {
    margin-right: -10000px;
    z-index: 7;
    position: relative;
    background-color: #FFFFFF;
}

#u744 {
    margin-right: -10000px;
    z-index: 8;
    position: relative;
    background-color: #FFFFFF;
}

#u644 {
    margin-right: -10000px;
    z-index: 19;
    position: relative;
    background-color: #FFFFFF;
}

#u820 {
    z-index: 24;
    position: relative;
    background-color: #FFFFFF;
}

#u1051-4 {
    margin-right: -10000px;
    opacity: 0.7;
    position: relative;
    filter: alpha(opacity=70);
    font-size: 12px;
    z-index: 3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    line-height: 14px;
    font-weight: 700;
    background-color: transparent;
    font-family: '__Roboto_5';
}

#u756 {
    margin-right: -10000px;
    z-index: 9;
    position: relative;
    background-color: #FFFFFF;
}

#u360 {
    margin-right: -10000px;
    z-index: 10;
    position: relative;
    background-color: #FFFFFF;
}

#u372 {
    margin-right: -10000px;
    z-index: 11;
    position: relative;
    background-color: #FFFFFF;
}

#u446 {
    margin-right: -10000px;
    z-index: 12;
    position: relative;
    background-color: #FFFFFF;
}

#u476 {
    margin-right: -10000px;
    z-index: 13;
    position: relative;
    background-color: #FFFFFF;
}

#u479 {
    margin-right: -10000px;
    z-index: 14;
    position: relative;
    background-color: #FFFFFF;
}

#u533 {
    margin-right: -10000px;
    z-index: 15;
    position: relative;
    background-color: #FFFFFF;
}

#u536 {
    margin-right: -10000px;
    z-index: 16;
    position: relative;
    background-color: #FFFFFF;
}

#u538 {
    margin-right: -10000px;
    z-index: 17;
    position: relative;
    background-color: #FFFFFF;
}

#u541 {
    margin-right: -10000px;
    z-index: 18;
    position: relative;
    background-color: #FFFFFF;
}

#u647 {
    margin-right: -10000px;
    z-index: 20;
    position: relative;
    background-color: #FFFFFF;
}

#u699 {
    margin-right: -10000px;
    z-index: 21;
    position: relative;
    background-color: #FFFFFF;
}

#u802 {
    margin-right: -10000px;
    z-index: 22;
    position: relative;
    background-color: #FFFFFF;
}

#u811 {
    margin-right: -10000px;
    z-index: 23;
    position: relative;
    background-color: #FFFFFF;
}

#u1079 {
    opacity: 0.5;
    border-radius: 3px;
    z-index: 25;
    margin-right: -10000px;
    filter: alpha(opacity=50);
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    border-width: 0px;
    background-color: #FFFFFF;
    border-color: transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#u1084 {
    opacity: 0.5;
    border-radius: 3px;
    z-index: 26;
    margin-right: -10000px;
    filter: alpha(opacity=50);
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    border-width: 0px;
    background-color: #FFFFFF;
    border-color: transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#u1088 {
    opacity: 0.5;
    border-radius: 3px;
    z-index: 27;
    margin-right: -10000px;
    filter: alpha(opacity=50);
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    border-width: 0px;
    background-color: #FFFFFF;
    border-color: transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#u1086 {
    opacity: 0.5;
    border-radius: 3px;
    z-index: 28;
    margin-right: -10000px;
    filter: alpha(opacity=50);
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    border-width: 0px;
    background-color: #FFFFFF;
    border-color: transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#u1081 {
    opacity: 0.5;
    border-radius: 3px;
    z-index: 29;
    margin-right: -10000px;
    filter: alpha(opacity=50);
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    border-width: 0px;
    background-color: #FFFFFF;
    border-color: transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#u1082 {
    opacity: 0.5;
    border-radius: 3px;
    z-index: 30;
    margin-right: -10000px;
    filter: alpha(opacity=50);
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    border-width: 0px;
    background-color: #FFFFFF;
    border-color: transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#u1080 {
    opacity: 0.5;
    border-radius: 3px;
    z-index: 31;
    margin-right: -10000px;
    filter: alpha(opacity=50);
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    border-width: 0px;
    background-color: #FFFFFF;
    border-color: transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#u1087 {
    opacity: 0.5;
    border-radius: 3px;
    z-index: 32;
    margin-right: -10000px;
    filter: alpha(opacity=50);
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    border-width: 0px;
    background-color: #FFFFFF;
    border-color: transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#u1083 {
    opacity: 0.5;
    border-radius: 3px;
    z-index: 33;
    margin-right: -10000px;
    filter: alpha(opacity=50);
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    border-width: 0px;
    background-color: #FFFFFF;
    border-color: transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#u1085 {
    opacity: 0.5;
    border-radius: 3px;
    z-index: 34;
    margin-right: -10000px;
    filter: alpha(opacity=50);
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    border-width: 0px;
    background-color: #FFFFFF;
    border-color: transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#u927-4 {
    color: #000000;
    margin-right: -10000px;
    font-weight: 400;
    text-align: center;
    font-size: 11px;
    position: relative;
    line-height: 13px;
    z-index: 35;
    background-color: transparent;
    font-family: '__Roboto_5';
}

#u936-4 {
    color: #000000;
    margin-right: -10000px;
    font-weight: 400;
    text-align: center;
    font-size: 11px;
    position: relative;
    line-height: 13px;
    z-index: 39;
    background-color: transparent;
    font-family: '__Roboto_5';
}

#u945-4 {
    color: #000000;
    margin-right: -10000px;
    font-weight: 400;
    text-align: center;
    font-size: 11px;
    position: relative;
    line-height: 13px;
    z-index: 43;
    background-color: transparent;
    font-family: '__Roboto_5';
}

#u946-4 {
    color: #000000;
    margin-right: -10000px;
    font-weight: 400;
    text-align: center;
    font-size: 11px;
    position: relative;
    line-height: 13px;
    z-index: 47;
    background-color: transparent;
    font-family: '__Roboto_5';
}

#u961-4 {
    color: #000000;
    margin-right: -10000px;
    font-weight: 400;
    text-align: center;
    font-size: 11px;
    position: relative;
    line-height: 13px;
    z-index: 51;
    background-color: transparent;
    font-family: '__Roboto_5';
}

#u962-4 {
    color: #000000;
    margin-right: -10000px;
    font-weight: 400;
    text-align: center;
    font-size: 11px;
    position: relative;
    line-height: 13px;
    z-index: 55;
    background-color: transparent;
    font-family: '__Roboto_5';
}

#u963-4 {
    color: #000000;
    margin-right: -10000px;
    font-weight: 400;
    text-align: center;
    font-size: 11px;
    position: relative;
    line-height: 13px;
    z-index: 59;
    background-color: transparent;
    font-family: '__Roboto_5';
}

#u964-4 {
    color: #000000;
    margin-right: -10000px;
    font-weight: 400;
    text-align: center;
    font-size: 11px;
    position: relative;
    line-height: 13px;
    z-index: 63;
    background-color: transparent;
    font-family: '__Roboto_5';
}

#u991-4 {
    color: #000000;
    margin-right: -10000px;
    font-weight: 400;
    text-align: center;
    font-size: 11px;
    position: relative;
    line-height: 13px;
    z-index: 67;
    background-color: transparent;
    font-family: '__Roboto_5';
}

#u992-4 {
    color: #000000;
    margin-right: -10000px;
    font-weight: 400;
    text-align: center;
    font-size: 11px;
    position: relative;
    line-height: 13px;
    z-index: 71;
    background-color: transparent;
    font-family: '__Roboto_5';
}

#u1056-4 {
    margin-right: -10000px;
    opacity: 0.7;
    position: relative;
    filter: alpha(opacity=70);
    font-size: 12px;
    z-index: 75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    line-height: 14px;
    font-weight: 700;
    background-color: transparent;
    font-family: '__Roboto_5';
}

#u838 {
    opacity: 0.5;
    border-radius: 3px;
    z-index: 79;
    margin-right: -10000px;
    filter: alpha(opacity=50);
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    border-width: 0px;
    background-color: #FFFFFF;
    border-color: transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#u1208 {
    opacity: 0.5;
    border-radius: 3px;
    z-index: 80;
    margin-right: -10000px;
    filter: alpha(opacity=50);
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    border-width: 0px;
    background-color: #FFFFFF;
    border-color: transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#u847 {
    opacity: 0.5;
    border-radius: 3px;
    z-index: 81;
    margin-right: -10000px;
    filter: alpha(opacity=50);
    position: relative;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    border-width: 0px;
    background-color: #FFFFFF;
    border-color: transparent;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#u1007-4 {
    color: #000000;
    margin-right: -10000px;
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    position: relative;
    line-height: 14px;
    z-index: 82;
    background-color: transparent;
    font-family: '__Roboto_5';
}

#u1025-4 {
    color: #000000;
    margin-right: -10000px;
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    position: relative;
    line-height: 14px;
    z-index: 86;
    background-color: transparent;
    font-family: '__Roboto_5';
}

#u1034-4 {
    color: #000000;
    margin-right: -10000px;
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    position: relative;
    line-height: 14px;
    z-index: 90;
    background-color: transparent;
    font-family: '__Roboto_5';
}

.html {
    /* background: #D5D5D5 url("../images/2_how_we_are_organised-blurred.jpg?crc=3877018174") no-repeat left top scroll; */
    background-size: cover;
}

body {
    position: relative;
    overflow: hidden !important;
}

@media (min-width: 744px),
print {
    #muse_css_mq {
        background-color: #FFFFFF;
    }
    #bp_infinity.active {
        display: block;
    }
    #page {
        height: 435px;
        width: 768px;
    }
    #pu1157 {
        width: 33.08%;
    }
    #u1157 {
        width: 254px;
        height: 54px;
        margin-left: 151.19%;
        left: -131px;
    }
    #u868-4 {
        min-height: 31px;
        margin-top: 15px;
        width: 79.14%;
        left: 10.24%;
        margin-left: 99.61%;
    }
    #pu354 {
        z-index: 2;
        width: 93.23%;
    }
    #u354 {
        width: 2px;
        height: 177px;
        margin-left: 53.64%;
        left: -6px;
    }
    #u1051-4 {
        min-height: 29px;
        margin-top: 157px;
        width: 17.88%;
        left: 3.08%;
        margin-left: 3.5%;
    }
    #u711 {
        width: 2px;
        height: 39px;
        -webkit-transform: matrix(0, -1, 1, 0, -18, 21);
        -ms-transform: matrix(0, -1, 1, 0, -18, 21);
        transform: matrix(0, -1, 1, 0, -18, 21);
        margin-top: 19px;
        margin-left: 53.64%;
        left: -6px;
    }
    #u744 {
        width: 2px;
        height: 39px;
        -webkit-transform: matrix(0, -1, 1, 0, -18, 21);
        -ms-transform: matrix(0, -1, 1, 0, -18, 21);
        transform: matrix(0, -1, 1, 0, -18, 21);
        margin-top: 69px;
        margin-left: 53.64%;
        left: -6px;
    }
    #u756 {
        width: 2px;
        height: 39px;
        -webkit-transform: matrix(0, -1, 1, 0, -18, 21);
        -ms-transform: matrix(0, -1, 1, 0, -18, 21);
        transform: matrix(0, -1, 1, 0, -18, 21);
        margin-top: 119px;
        margin-left: 53.64%;
        left: -6px;
    }
    #u360 {
        width: 2px;
        height: 686px;
        -webkit-transform: matrix(0, -1, 1, 0, -342, 344);
        -ms-transform: matrix(0, -1, 1, 0, -342, 344);
        transform: matrix(0, -1, 1, 0, -342, 344);
        margin-bottom: -139px;
        margin-top: -166px;
        margin-left: 53.64%;
        left: -17px;
    }
    #u372 {
        width: 2px;
        height: 20px;
        margin-top: 177px;
        margin-left: 53.64%;
        left: -305px;
    }
    #u446 {
        width: 2px;
        height: 20px;
        margin-top: 177px;
        margin-left: 53.64%;
        left: -235px;
    }
    #u476 {
        width: 2px;
        height: 20px;
        margin-top: 177px;
        margin-left: 53.64%;
        left: -165px;
    }
    #u479 {
        width: 2px;
        height: 20px;
        margin-top: 177px;
        margin-left: 53.64%;
        left: -95px;
    }
    #u533 {
        width: 2px;
        height: 20px;
        margin-top: 177px;
        margin-left: 53.64%;
        left: -25px;
    }
    #u536 {
        width: 2px;
        height: 20px;
        margin-top: 177px;
        margin-left: 53.64%;
        left: 45px;
    }
    #u538 {
        width: 2px;
        height: 20px;
        margin-top: 177px;
        margin-left: 53.64%;
        left: 115px;
    }
    #u541 {
        width: 2px;
        height: 20px;
        margin-top: 177px;
        margin-left: 53.64%;
        left: 185px;
    }
    #u644 {
        width: 2px;
        height: 20px;
        margin-top: 177px;
        margin-left: 53.64%;
        left: 255px;
    }
    #u647 {
        width: 2px;
        height: 20px;
        margin-top: 177px;
        margin-left: 53.64%;
        left: 325px;
    }
    #u699 {
        width: 2px;
        height: 192px;
        margin-top: 177px;
        margin-left: 53.64%;
        left: -359px;
    }
    #u802 {
        width: 2px;
        height: 22px;
        -webkit-transform: matrix(0, -1, 1, 0, -10, 12);
        -ms-transform: matrix(0, -1, 1, 0, -10, 12);
        transform: matrix(0, -1, 1, 0, -10, 12);
        margin-top: 297px;
        margin-left: 53.64%;
        left: -349px;
    }
    #u811 {
        width: 2px;
        height: 22px;
        -webkit-transform: matrix(0, -1, 1, 0, -10, 12);
        -ms-transform: matrix(0, -1, 1, 0, -10, 12);
        transform: matrix(0, -1, 1, 0, -10, 12);
        margin-top: 327px;
        margin-left: 53.64%;
        left: -349px;
    }
    #u820 {
        width: 2px;
        height: 22px;
        -webkit-transform: matrix(0, -1, 1, 0, -10, 12);
        -ms-transform: matrix(0, -1, 1, 0, -10, 12);
        transform: matrix(0, -1, 1, 0, -10, 12);
        margin-right: -10000px;
        margin-top: 357px;
        margin-left: 53.64%;
        left: -349px;
    }
    #u1079 {
        width: 64px;
        height: 54px;
        margin-top: 198px;
        margin-left: 53.64%;
        left: -267px;
    }
    #u1084 {
        width: 64px;
        height: 54px;
        margin-top: 198px;
        margin-left: 53.64%;
        left: -197px;
    }
    #u1088 {
        width: 64px;
        height: 54px;
        margin-top: 198px;
        margin-left: 53.64%;
        left: -127px;
    }
    #u1086 {
        width: 64px;
        height: 54px;
        margin-top: 198px;
        margin-left: 53.64%;
        left: -57px;
    }
    #u1081 {
        width: 64px;
        height: 54px;
        margin-top: 198px;
        margin-left: 53.64%;
        left: -337px;
    }
    #u1082 {
        width: 64px;
        height: 54px;
        margin-top: 198px;
        margin-left: 53.64%;
        left: 13px;
    }
    #u1080 {
        width: 64px;
        height: 54px;
        margin-top: 198px;
        margin-left: 53.64%;
        left: 83px;
    }
    #u1087 {
        width: 64px;
        height: 54px;
        margin-top: 198px;
        margin-left: 53.64%;
        left: 153px;
    }
    #u1083 {
        width: 64px;
        height: 54px;
        margin-top: 198px;
        margin-left: 53.64%;
        left: 223px;
    }
    #u1085 {
        width: 64px;
        height: 54px;
        margin-top: 198px;
        margin-left: 53.64%;
        left: 293px;
    }
    #u927-4 {
        min-height: 39px;
        margin-top: 204px;
        width: 7.27%;
        left: 3.78%;
        margin-left: 3.5%;
    }
    #u936-4 {
        min-height: 39px;
        margin-top: 204px;
        width: 7.27%;
        left: 13.55%;
        margin-left: 3.5%;
    }
    #u945-4 {
        min-height: 39px;
        margin-top: 204px;
        width: 7.27%;
        left: 23.33%;
        margin-left: 3.5%;
    }
    #u946-4 {
        min-height: 39px;
        margin-top: 204px;
        width: 7.27%;
        left: 33.11%;
        margin-left: 3.5%;
    }
    #u961-4 {
        min-height: 39px;
        margin-top: 204px;
        width: 8.25%;
        left: 42.46%;
        margin-left: 3.5%;
    }
    #u962-4 {
        min-height: 39px;
        margin-top: 204px;
        width: 7.27%;
        left: 52.66%;
        margin-left: 3.5%;
    }
    #u963-4 {
        min-height: 39px;
        margin-top: 204px;
        width: 7.27%;
        left: 62.44%;
        margin-left: 3.5%;
    }
    #u964-4 {
        min-height: 39px;
        margin-top: 204px;
        width: 7.27%;
        left: 72.21%;
        margin-left: 3.5%;
    }
    #u991-4 {
        min-height: 39px;
        margin-top: 204px;
        width: 7.27%;
        left: 81.99%;
        margin-left: 3.5%;
    }
    #u992-4 {
        min-height: 39px;
        margin-top: 204px;
        width: 7.27%;
        left: 91.76%;
        margin-left: 3.5%;
    }
    #u1056-4 {
        min-height: 29px;
        margin-top: 276px;
        width: 23.89%;
        left: 3.08%;
        margin-left: 3.5%;
    }
    #u838 {
        width: 171px;
        height: 26px;
        margin-top: 325px;
        margin-left: 53.64%;
        left: -337px;
    }
    #u1208 {
        width: 171px;
        height: 26px;
        margin-top: 295px;
        margin-left: 53.64%;
        left: -337px;
    }
    #u847 {
        width: 171px;
        height: 26px;
        margin-top: 355px;
        margin-left: 53.64%;
        left: -337px;
    }
    #u1007-4 {
        min-height: 14px;
        margin-top: 302px;
        width: 22.21%;
        left: 3.78%;
        margin-left: 3.5%;
    }
    #u1025-4 {
        min-height: 14px;
        margin-top: 331px;
        width: 22.21%;
        left: 3.78%;
        margin-left: 3.5%;
    }
    #u1034-4 {
        min-height: 14px;
        margin-top: 361px;
        width: 22.21%;
        left: 3.78%;
        margin-left: 3.5%;
    }
    #u1159 {
        width: 168px;
        height: 45px;
        margin-top: 16px;
        margin-left: 53.64%;
        left: 15px;
    }
    #u1161 {
        width: 168px;
        height: 45px;
        margin-top: 66px;
        margin-left: 53.64%;
        left: 15px;
    }
    #u1163 {
        width: 168px;
        height: 45px;
        margin-top: 116px;
        margin-left: 53.64%;
        left: 15px;
    }
    #u886-4 {
        min-height: 10px;
        margin-top: 25px;
        width: 20.12%;
        left: 53.92%;
        margin-left: 3.5%;
    }
    #u896-4 {
        min-height: 10px;
        margin-top: 81px;
        width: 20.12%;
        left: 53.92%;
        margin-left: 3.5%;
    }
    #u912-4 {
        min-height: 10px;
        margin-top: 131px;
        width: 20.12%;
        left: 53.92%;
        margin-left: 3.5%;
    }
    #u1158 {
        width: 168px;
        height: 45px;
        margin-top: 16px;
        margin-left: 53.64%;
        left: -192px;
    }
    #u1160 {
        width: 168px;
        height: 45px;
        margin-top: 66px;
        margin-left: 53.64%;
        left: -192px;
    }
    #u1162 {
        width: 168px;
        height: 45px;
        margin-top: 116px;
        margin-left: 53.64%;
        left: -192px;
    }
    #u877-4 {
        min-height: 10px;
        margin-top: 31px;
        width: 20.12%;
        left: 25%;
        margin-left: 3.5%;
    }
    #u895-4 {
        min-height: 10px;
        margin-top: 81px;
        width: 20.12%;
        left: 25%;
        margin-left: 3.5%;
    }
    #u911-4 {
        min-height: 10px;
        margin-top: 131px;
        width: 20.12%;
        left: 25%;
        margin-left: 3.5%;
    }
}

@media (max-width: 743px) {
    /*

*/
    #muse_css_mq {
        background-color: #0002e7;
    }
    #bp_743.active {
        display: block;
    }
    #page {
        width: 320px;
        min-height: 499.9999999999998px;
        padding-bottom: 0px;
    }
    #page_position_content {
        padding-top: 20px;
        padding-bottom: 62px;
        width: 0.01px;
    }
    #pu1157 {
        width: 0.01px;
        margin-left: 18px;
    }
    #u1157 {
        width: 301px;
        height: 39px;
    }
    #u868-4 {
        width: 126px;
        min-height: 20px;
        margin-top: 11px;
        left: 89px;
    }
    #pppu1162 {
        z-index: 0;
        width: 0.01px;
        margin-left: 19px;
    }
    #ppu1162 {
        z-index: 0;
        width: 0.01px;
        margin-right: -10000px;
        margin-top: 10px;
    }
    #pu1162 {
        z-index: 111;
        width: 0.01px;
    }
    #u877-4 {
        width: 126px;
        min-height: 20px;
        margin-top: 14px;
        left: 6px;
    }
    #pu1160 {
        z-index: 110;
        width: 0.01px;
        margin-top: 6px;
    }
    #u895-4 {
        width: 126px;
        min-height: 20px;
        margin-top: 12px;
        left: 6px;
    }
    #pu1159 {
        z-index: 94;
        width: 0.01px;
        margin-top: 5px;
    }
    #u911-4 {
        width: 126px;
        min-height: 20px;
        margin-top: 6px;
        left: 6px;
    }
    #ppu1161 {
        z-index: 0;
        width: 0.01px;
        margin-right: -10000px;
        margin-top: 10px;
        margin-left: 164px;
    }
    #pu1161 {
        z-index: 95;
        width: 0.01px;
    }
    #pu896-4 {
        z-index: 101;
        width: 0.01px;
        margin-top: 6px;
    }
    #u886-4,
    #u896-4 {
        width: 126px;
        min-height: 20px;
        margin-top: 5px;
        left: 6px;
    }
    #pu1163 {
        z-index: 96;
        width: 0.01px;
        margin-top: 5px;
    }
    #u1162,
    #u1160,
    #u1159,
    #u1161,
    #u1158,
    #u1163 {
        width: 138px;
        height: 39px;
    }
    #u912-4 {
        width: 126px;
        min-height: 20px;
        margin-top: 10px;
        left: 6px;
    }
    #u354 {
        width: 1px;
        height: 149px;
        left: 150px;
    }
    #u711 {
        width: 1px;
        height: 27px;
        -webkit-transform: matrix(0, -1, 1, 0, -13, 14);
        -ms-transform: matrix(0, -1, 1, 0, -13, 14);
        transform: matrix(0, -1, 1, 0, -13, 14);
        margin-top: 61px;
        left: 150px;
    }
    #u744 {
        width: 1px;
        height: 27px;
        -webkit-transform: matrix(0, -1, 1, 0, -13, 14);
        -ms-transform: matrix(0, -1, 1, 0, -13, 14);
        transform: matrix(0, -1, 1, 0, -13, 14);
        margin-top: 105px;
        left: 150px;
    }
    #u644 {
        width: 1px;
        height: 27px;
        -webkit-transform: matrix(0, -1, 1, 0, -13, 14);
        -ms-transform: matrix(0, -1, 1, 0, -13, 14);
        transform: matrix(0, -1, 1, 0, -13, 14);
        margin-top: 16px;
        left: 150px;
    }
    #u820 {
        width: 1px;
        height: 189px;
        -webkit-transform: matrix(0, -1, 1, 0, -94, 95);
        -ms-transform: matrix(0, -1, 1, 0, -94, 95);
        transform: matrix(0, -1, 1, 0, -94, 95);
        margin-left: 75px;
        top: -96px;
        margin-bottom: -95px;
    }
    #pu1051-4 {
        z-index: 3;
        width: 0.01px;
        margin-left: -19px;
        margin-top: -96px;
    }
    #u1051-4 {
        width: 138px;
        min-height: 20px;
        margin-top: 9px;
        left: 38px;
    }
    #u756 {
        width: 1px;
        height: 37px;
        -webkit-transform: matrix(0, -1, 1, 0, -18, 19);
        -ms-transform: matrix(0, -1, 1, 0, -18, 19);
        transform: matrix(0, -1, 1, 0, -18, 19);
        margin-top: 670px;
        left: 18px;
    }
    #u360 {
        width: 1px;
        height: 689px;
        -webkit-transform: matrix(-1, 0, 0, -1, 1, 689);
        -ms-transform: matrix(-1, 0, 0, -1, 1, 689);
        transform: matrix(-1, 0, 0, -1, 1, 689);
    }
    #u372 {
        width: 1px;
        height: 36px;
        -webkit-transform: matrix(0, 1, -1, 0, 19, 18);
        -ms-transform: matrix(0, 1, -1, 0, 19, 18);
        transform: matrix(0, 1, -1, 0, 19, 18);
        margin-top: 441px;
        left: 20px;
    }
    #u446 {
        width: 1px;
        height: 36px;
        -webkit-transform: matrix(0, 1, -1, 0, 19, 18);
        -ms-transform: matrix(0, 1, -1, 0, 19, 18);
        transform: matrix(0, 1, -1, 0, 19, 18);
        margin-top: 390px;
        left: 21px;
    }
    #u476 {
        width: 1px;
        height: 36px;
        -webkit-transform: matrix(0, 1, -1, 0, 19, 18);
        -ms-transform: matrix(0, 1, -1, 0, 19, 18);
        transform: matrix(0, 1, -1, 0, 19, 18);
        margin-top: 338px;
        left: 21px;
    }
    #u479 {
        width: 1px;
        height: 36px;
        -webkit-transform: matrix(0, 1, -1, 0, 19, 18);
        -ms-transform: matrix(0, 1, -1, 0, 19, 18);
        transform: matrix(0, 1, -1, 0, 19, 18);
        margin-top: 287px;
        left: 21px;
    }
    #u533 {
        width: 1px;
        height: 36px;
        -webkit-transform: matrix(0, 1, -1, 0, 19, 18);
        -ms-transform: matrix(0, 1, -1, 0, 19, 18);
        transform: matrix(0, 1, -1, 0, 19, 18);
        margin-top: 238px;
        left: 20px;
    }
    #u536 {
        width: 1px;
        height: 36px;
        -webkit-transform: matrix(0, 1, -1, 0, 19, 18);
        -ms-transform: matrix(0, 1, -1, 0, 19, 18);
        transform: matrix(0, 1, -1, 0, 19, 18);
        margin-top: 187px;
        left: 20px;
    }
    #u538 {
        width: 1px;
        height: 36px;
        -webkit-transform: matrix(0, 1, -1, 0, 19, 18);
        -ms-transform: matrix(0, 1, -1, 0, 19, 18);
        transform: matrix(0, 1, -1, 0, 19, 18);
        margin-top: 134px;
        left: 19px;
    }
    #u541 {
        width: 1px;
        height: 36px;
        -webkit-transform: matrix(0, 1, -1, 0, 19, 18);
        -ms-transform: matrix(0, 1, -1, 0, 19, 18);
        transform: matrix(0, 1, -1, 0, 19, 18);
        margin-top: 85px;
        left: 20px;
    }
    #u647 {
        width: 1px;
        height: 36px;
        -webkit-transform: matrix(0, 1, -1, 0, 19, 18);
        -ms-transform: matrix(0, 1, -1, 0, 19, 18);
        transform: matrix(0, 1, -1, 0, 19, 18);
        margin-top: 491px;
        left: 18px;
    }
    #u699 {
        width: 1px;
        height: 36px;
        -webkit-transform: matrix(0, 1, -1, 0, 19, 17);
        -ms-transform: matrix(0, 1, -1, 0, 19, 17);
        transform: matrix(0, 1, -1, 0, 19, 17);
        margin-top: 34px;
        left: 18px;
    }
    #u802 {
        width: 1px;
        height: 37px;
        -webkit-transform: matrix(0, -1, 1, 0, -18, 19);
        -ms-transform: matrix(0, -1, 1, 0, -18, 19);
        transform: matrix(0, -1, 1, 0, -18, 19);
        margin-top: 626px;
        left: 18px;
    }
    #u811 {
        width: 1px;
        height: 37px;
        -webkit-transform: matrix(0, -1, 1, 0, -18, 19);
        -ms-transform: matrix(0, -1, 1, 0, -18, 19);
        transform: matrix(0, -1, 1, 0, -18, 19);
        margin-top: 581px;
        left: 18px;
    }
    #u1079 {
        width: 302px;
        height: 44px;
        margin-top: 183px;
        left: 38px;
    }
    #u1084 {
        width: 302px;
        height: 44px;
        margin-top: 436px;
        left: 38px;
    }
    #u1088 {
        width: 301px;
        height: 44px;
        margin-top: 386px;
        left: 38px;
    }
    #u1086 {
        width: 301px;
        height: 44px;
        margin-top: 284px;
        left: 38px;
    }
    #u1081 {
        width: 302px;
        height: 44px;
        margin-top: 487px;
        left: 38px;
    }
    #u1082 {
        width: 301px;
        height: 44px;
        margin-top: 335px;
        left: 38px;
    }
    #u1080 {
        width: 302px;
        height: 44px;
        margin-top: 132px;
        left: 38px;
    }
    #u1087 {
        width: 301px;
        height: 44px;
        margin-top: 30px;
        left: 38px;
    }
    #u1083 {
        width: 301px;
        height: 44px;
        margin-top: 233px;
        left: 38px;
    }
    #u1085 {
        width: 301px;
        height: 44px;
        margin-top: 81px;
        left: 38px;
    }
    #u927-4 {
        width: 126px;
        min-height: 20px;
        margin-top: 42px;
        left: 121px;
    }
    #u936-4 {
        width: 126px;
        min-height: 20px;
        margin-top: 93px;
        left: 120px;
    }
    #u945-4 {
        width: 126px;
        min-height: 20px;
        margin-top: 144px;
        left: 121px;
    }
    #u946-4 {
        width: 126px;
        min-height: 20px;
        margin-top: 195px;
        left: 120px;
    }
    #u961-4 {
        width: 126px;
        min-height: 20px;
        margin-top: 245px;
        left: 120px;
    }
    #u962-4 {
        width: 126px;
        min-height: 20px;
        margin-top: 296px;
        left: 125px;
    }
    #u963-4 {
        width: 126px;
        min-height: 20px;
        margin-top: 347px;
        left: 120px;
    }
    #u964-4 {
        width: 126px;
        min-height: 20px;
        margin-top: 398px;
        left: 120px;
    }
    #u991-4 {
        width: 126px;
        min-height: 20px;
        margin-top: 448px;
        left: 120px;
    }
    #u992-4 {
        width: 126px;
        min-height: 20px;
        margin-top: 499px;
        left: 120px;
    }
    #u1056-4 {
        width: 298px;
        min-height: 16px;
        margin-top: 555px;
        left: 38px;
    }
    #u838 {
        width: 301px;
        height: 39px;
        margin-top: 670px;
        left: 38px;
    }
    #u1208 {
        width: 301px;
        height: 39px;
        margin-top: 580px;
        left: 38px;
    }
    #u847 {
        width: 301px;
        height: 39px;
        margin-top: 625px;
        left: 38px;
    }
    #u1007-4 {
        width: 275px;
        min-height: 20px;
        margin-top: 635px;
        left: 49px;
    }
    #u1025-4 {
        width: 275px;
        min-height: 20px;
        margin-top: 590px;
        left: 49px;
    }
    #u1034-4 {
        width: 275px;
        min-height: 20px;
        margin-top: 680px;
        left: 50px;
    }
    body {
        overflow-x: hidden;
        min-width: 320px;
    }
}