#cali-app .cali-component.cali-html [data-california-sub-page].california-sub-page-active.diversity-axle {
    position: absolute;
    width: 5px;
    height: 80%;
    top: 10%;
    left: 50px;
    background-color: #16A6C9;
}

.diversity-axle:before,
.diversity-axle:after {
    content: '';
    position: absolute;
    width: 5px;
    height: 30px;
    top: -6px;
    left: -10px;
    transform: rotate(45deg);
    background-color: #16A6C9;
}

.diversity-axle:after {
    left: 10px;
    transform: rotate(-45deg)
}

#cali-app .cali-component.cali-html [data-california-sub-page].california-sub-page-active.inclusiveness-axle {
    position: absolute;
    width: 80%;
    height: 5px;
    top: 90%;
    left: 50px;
    background-color: #16A6C9;
}


.inclusiveness-axle:before,
.inclusiveness-axle:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 5px;
    top: -10px;
    right: -6px;
    transform: rotate(45deg);
    background-color: #16A6C9;
}

.inclusiveness-axle:after {
    top: 10px;
    transform: rotate(-45deg)
}

.diversity-axle .label,
.inclusiveness-axle .label {
    position: absolute;
    color: #16A6C9;
    font-size: 20px;
    font-family: VolvoSansMedium;
    padding: 8px;
    border-radius: 3px;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}


.diversity-axle .label {
    top: 0px;
    left: 50px;
}

.inclusiveness-axle .label {
    top: -70px;
    right: 0;
}

.drag-drop-area {}

.drag-drop-area .drop-target {
    position: absolute;
    width: 260px;
    height: 130px;
    border: 1px solid #fff;
    border-radius: 6px;
    background: repeating-linear-gradient(45deg,
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6) 10px,
        rgba(118, 51, 105, 0.6) 10px,
        rgba(118, 51, 105, 0.6) 20px);
}

.drag-drop-area .drop-target:nth-of-type(1) {
    top: 20%;
    left: 6%;
}

.drag-drop-area .drop-target:nth-of-type(2) {
    bottom: 14%;
    right: 30%;
}

.drag-drop-area .drop-target:nth-of-type(3) {
    top: 20%;
    right: 30%;
}




.drag-drop-area .drop-target.drag-item-over {
    background: repeating-linear-gradient(45deg,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 1) 10px,
        rgba(118, 51, 105, 1) 10px,
        rgba(118, 51, 105, 1) 20px)
}


.drag-drop-area .drag-alternatives {
    display: table;
    position: absolute;
    width: 280px;
    height: 168px;
    bottom: 40px;
    left: calc(30px);
}

.drag-drop-area .drag-alternative,
.drag-drop-area .drag-ghost-item,
.drag-drop-area .drag-item-placeholder {
    position: absolute;
    width: 260px;
    height: 130px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 1);
    user-select: none;
    box-shadow: 3px 3px 14px 0px rgba(0, 0, 0, .3);
    box-sizing: border-box;
}

.drag-drop-area .drag-item-placeholder {
    background-color: transparent;
    box-shadow: none;
}

.drag-drop-area .drag-item-placeholder:nth-of-type(1) {
    top: 0;
    left: 0;
}

.drag-drop-area .drag-item-placeholder:nth-of-type(2) {
    top: 10px;
    left: 10px;
}

.drag-drop-area .drag-item-placeholder:nth-of-type(3) {
    top: 20px;
    left: 20px;
}

.drag-drop-area .drag-alternative,
.drag-drop-area .drag-ghost-item {
    cursor: pointer;
    z-index: 1;
    background-image: url("../003-Diversity-inclusion/images/card-background.png");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto 100%;
    padding: 10px;
}

.drag-drop-area .drag-ghost-item {
    display: none;
    opacity: .6;
}

.drag-drop-area .drag-ghost-item.active {
    display: block;
}

.drag-drop-area .drop-target .drag-alternative {
    box-shadow: none;
    z-index: 0;
}

.drag-drop-area .drag-alternative h3,
.drag-drop-area .drag-ghost-item h3 {
    color: #DD7611;
    font-size: 16px;
    line-height: 18px;
    padding: 0;
    margin: 0;
    margin-bottom: 6px;
    font-family: "VolvoSansMedium";
}

.drag-drop-area .drag-alternative p,
.drag-drop-area .drag-ghost-item p {

    font-size: 12px;
    padding: 0;
    margin: 0;
    font-family: "VolvoSansRegular";
}

.interaction-disabler {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

@media screen and (max-width: 667px) {

    .drag-drop-area .drag-alternative,
    .drag-drop-area .drag-ghost-item,
    .drag-drop-area .drag-item-placeholder,
    .drag-drop-area .drop-target {
        position: absolute;
        width: 180px;
        height: 140px;
    }

    .drag-drop-area .drop-target:nth-of-type(1) {
        top: 17%;
        left: 0%;
    }

    .drag-drop-area .drop-target:nth-of-type(2) {
        bottom: 23%;
        right: 0%;
    }

    .drag-drop-area .drop-target:nth-of-type(3) {
        top: 17%;
        right: 0%;
    }

    .drag-drop-area .drag-alternatives {
        width: 200px;
        height: 160px;
        bottom: -19px;
        left: -3px;
    }

    .drag-drop-area .drag-alternative h3,
    .drag-drop-area .drag-ghost-item h3 {
        font-size: 14px;
    }

    .drag-drop-area .drag-alternative p,
    .drag-drop-area .drag-ghost-item p {
        font-size: 11px;
    }

}

textarea.diversity {
    display: block;
    resize: none;
    width: 100%;
    height: 30vh;
    margin-bottom: 30px;
    box-sizing: border-box;
    font-family: "VolvoSansRegular";
    font-size: 16px;
    border: 1px solid #fff;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
}

textarea.diversity:focus {
    outline: none;
}

ul.diversity {
    list-style-type: disc;
}

ul.diversity li {
    font-size: 22px;
    font-family: "VolvoSansMedium";
    color: #333;
}

@media screen and (max-width: 667px) {
    ul.diversity li {
        font-size: 16px;
    }
}



.diversity-check-list {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.2);
}

.diversity-check-list li {
    position: relative;
    display: inline-block;
    width: 49%;
    font-size: 18px;
    padding: 6px 0;
    padding-left: 36px;
    box-sizing: border-box;
    cursor: pointer;
}

.diversity-check-list li * {
    cursor: pointer;
}

.diversity-check-list li input {
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.diversity-check-list li input:before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border: 3px solid #333;
    border-radius: 40px;
    background-color: #fff;
    transition: all 0.1s ease-in-out;
}

.diversity-check-list li input:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    left: 10px;
    bottom: 0;
    margin: auto;
    border-radius: 40px;
    background-color: #763369;
    transition: all 0.1s ease-in-out;
}


.diversity-check-list li input:checked:after {
    width: 14px;
    height: 14px;
    left: 6px;
}

.diversity-check-list li input:checked:before {
    width: 18px;
    height: 18px;
    border: 4px solid #763369;
}

.diversity-poster {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 7%;
    background-image: url('../003-Diversity-inclusion/images/11_4_diversity_introduction_external_3_half.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
@media screen and (max-width: 667px) {
    .diversity-poster {
        left: 50%;
    }
}