.gallery_button {
    position: relative;
    width: 145px;
    height: 82px;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    border-width: 0;
    overflow: hidden;
}

.gallery_button:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    margin: auto;
    border-radius: 300px;
    background-color: rgba(255, 255, 255, 0);
    transform: translate(-50%, -50%);
    transition: all .2s ease-in-out;
}

.gallery_button:hover::before {
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.25);
}

.flex-container {
    margin-top: -20px;
    margin-left: -20px;
}

.flex-container>div {
    margin: 20px;
}

@media screen and (max-width: 667px) {
    .flex-container>div {
        margin: 10px;
    }
}

.debbie {
    background-image: url("./thumbs/vw_customer_focus_debbie_smith.png");
}

.elin {
    background-image: url("./thumbs/vw_elin_ornberg_genuine_interest.png");
}

.elisabeth {
    background-image: url("./thumbs/vw_elisabeth_davidson.png");
}

.viking {
    background-image: url("./thumbs/vw_feedback_viking_johansson.png");
}

.arthur {
    background-image: url("./thumbs/vw_involvment_arthur_liu.png");
}

.torsten {
    background-image: url("./thumbs/vw_involvment_torsten_dahlberg.png");
}

.jarek {
    background-image: url("./thumbs/vw_jarek_pietowski_moscow_achievement.png");
}

.joss {
    background-image: url("./thumbs/vw_joss_grigg_downturn_u_turn.png");
}

.kamila {
    background-image: url("./thumbs/vw_kamila_czaja_great_motivation.png");
}

.vicky {
    background-image: url("./thumbs/vw_open_dialogue_vicky_ni.png");
}

.pasi {
    background-image: url("./thumbs/vw_pasi_aihtia_into_the_jungle.png");
}

.raja {
    background-image: url("./thumbs/vw_raja_accidents_will_happen.png");
}

.ravi {
    background-image: url("./thumbs/vw_ravi_prasad_no_stoppage.png");
}

.lourdes {
    background-image: url("./thumbs/vw_respect_lourdes_milder.png");
}

.richard {
    background-image: url("./thumbs/vw_richard_baker_simulator_success.png");
}

.bastien {
    background-image: url("./thumbs/vw_teamwork_bastien_laforet.png");
}

.terezinha {
    background-image: url("./thumbs/vw_terezinha_galvao.png");
}

.vanessa {
    background-image: url("./thumbs/vw_vanessa_da_silva_fontes_from_fear_to.png");
}